@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Option 1: Hard Cyberpunk (Orbitron) */
.font-cyber {
  font-family: 'Orbitron', sans-serif;
}